.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-field {
  padding: 15px 35px 15px 36px;
  border-radius: 100px;
  font-size: 30px;
}

.search-button {
  cursor: pointer;
  background: none;
  border: none;
  margin-left: -58px;
  font-size: 30px;
}
